@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");

@import "tailwindcss";

@font-face {
    font-family: "Monocode";
    src: url("./assets/fonts/Monocode.ttf");
}

html {
    background: #060606;
    scroll-behavior: smooth;
}

:root {
    --surface-3: hsl(0, 0%, 100%);
    --border-1: hsl(0, 0%, 100%);
    --border-2: hsla(0, 0%, 100%, 0.208);

    --nav-border-1: hsl(0, 0%, 50%);
}

.card {
    --border-width: 1px;
    position: relative;

    background: hsl(from var(--surface-3) h s l / 0.05);
    backdrop-filter: blur(35px);

    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.card:hover {
    /* filter: brightness(115%); */
    background: hsl(from var(--surface-3) h s l / 0.15);
}

.card::before {
    opacity: 0.25;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: var(--border-width) solid transparent;
    background: linear-gradient(var(--border-1), var(--border-2)) border-box;
    mask:
        linear-gradient(black, black) border-box,
        linear-gradient(black, black) padding-box;
    mask-composite: subtract;
}

.grain-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: url("/src/assets/images/grainy.svg#grainy");

    mix-blend-mode: multiply;
    opacity: 0.08;
    z-index: 10;
}

.top-nav {
    --border-width: 1px;
    /* position: relative; */

    background: hsl(from var(--surface-3) h s l / 0.05);
    backdrop-filter: blur(35px);

    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.top-nav::before {
    opacity: 0.25;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: var(--border-width) solid transparent;
    background: linear-gradient(var(--border-2), var(--nav-border-1)) border-box;
    mask:
        linear-gradient(black, black) border-box,
        linear-gradient(black, black) padding-box;
    mask-composite: subtract;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    /* border-bottom: 0; */
}
